<p>Recurrence Relations</p>

<%= turbo_frame_tag "recurrence_relations" do %>
  <%= render "partials/flash" %>

  <%= form_with url: recurrence_relations_path, method: :post do |f| %>
    <%= f.label :recurrence_relation, "a(n) = " %>
    <%= f.text_field :recurrence_relation, value: params[:recurrence_relation], placeholder: "3 * a(n-3) + 2 * a(n-2) + a(n-1)" %>
    <br />

    <%= f.label :a_1, "a(1) = " %>
    <%= f.text_field :a_1, value: params[:a_1] %>
    <br />

    <%= f.label :a_2, "a(2) = " %>
    <%= f.text_field :a_2, value: params[:a_2] %>
    <br />

    <%= f.label :a_3, "a(3) = " %>
    <%= f.text_field :a_3, value: params[:a_3] %>
    <br />

    <p>a(4) = <%= @a_4 %></p>
    <p>a(5) = <%= @a_5 %></p>
    <p>a(6) = <%= @a_6 %></p>
    <p>a(7) = <%= @a_7 %></p>
    <p>a(8) = <%= @a_8 %></p>
    <p>a(9) = <%= @a_9 %></p>
    <p>a(10) = <%= @a_10 %></p>

    <br />
    <%= f.submit %>
  <% end %>
<% end %>
