<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Discrete Math Calc" %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!--підгрузе іконки з google material and icons-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
  </head>
  <!-- Body global -->
  <body>
    <!-- Header -->
    <!--Додав Home, посилання має бути робочим-->
    <!---->
    <header class="header">
        <div class="header-left">
            <a href="/" class="home-icon">
                <span class="material-symbols-outlined">home</span>
                <span class="header-text">Home</span>
            </a>
        </div>
        <h1 class="header-title">Discrete Math Calculator</h1>
        <!--сюди можна додати перемикач теми, або щось типу "About" де буде коротка технічна інфа про додаток, а також посилання-->
    </header>
    <!--Old header-->
    <!-- <header>
      <nav>
        <a href="/" class="home-icon">
          <span class="material-icons">home</span>
        </a>
      </nav>      
      <% if params[:controller] == "home" %>
        <h1>Discrete Math Calculator</h1>
      <% else %>
        <h1><%= link_to "Discrete Math Calculator", root_path %></h1>
      <% end %>
    </header> -->

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
